{% extends 'base.html' %}
{% block content %}

<h1>Player Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ player.name }}</span>
        <p>Age: {{ player.age }}</p>
        <p>Team: {{ player.name }}</p>
        <p>Jersey Number: {{ player.jerseyNumber }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'players_update' player.id %}">Edit</a>
        <a href="{% url 'players_delete' player.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
      <form action="{% url 'add_healing' player.id %}" method="post">
          {% csrf_token %}
          {{ healing_form.as_p }}
          <input type="submit" class="btn" value="Add Status">
        </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Status</th></tr>
      </thead>
      <tbody>
        {% for healing in player.healing_set.all %}
          <tr>
            <td>{{healing.date}}</td>
            <td>{{healing.get_status_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ player.name }}'s Sneakers</h3>
    {% if player.sneakers.count %}
      {% for sneaker in player.sneakers.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ sneaker.color }}">{{ sneaker.color }}</span> {{ sneaker.name }}
            </span>
          </div>
          <div class="card-action">
              <form action="{% url 'unassoc_sneaker' player.id sneaker.id %}" method="post">
                  {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form>
            </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Sneakers :(</h5>
    {% endif %}
  </div>
  <!-- Available sneakers will come after this line -->
  <div class="col s6">
      <h3>Available Sneakers</h3>
      {% if sneakers.count %}
        {% for sneaker in sneakers.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                A <span style="color: {{ sneaker.color }}">{{ sneaker.color }}</span> {{ sneaker.name }}
              </span>
            </div>
            <div class="card-action">
              <form action="{% url 'assoc_sneaker' player.id sneaker.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{player.name}} Already Has All Toys Available</h5>
      {% endif %}
    </div>
</div>
<script>  
var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_status');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}
